body {
  font-size: 16px;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  margin: 0px;
}

p {
  margin: 0px;
}

.MuiButton-containedPrimary:hover {
  background-color: #fd740f !important;
}

.navbar {
  height: 50px;
}

.app-columns {
  height: calc(100vh - 50px);
  padding: 0px;
}

.project-column-wrapper {
  height: 100%;
  margin: 0.0125em;
  border: 2px solid #fff;
  background-color: #f8f8f8;
}

.project-column-header {
  padding: 0.2em 0.5em;
  background-color: #ff8d3a;
  font-size: 1.2em;
  border-radius: 2px;
  float: left;
  width: 100%;
  color: #fff;
}

.project-column-title {
  width: 100%;
  float: left;
}

.project-column-icon {
  width: 20px;
}

.project-lister {
  float: left;
  width: 100%;
  overflow-y: auto;
  height: calc(100% - 40px);
}

.app-request-wrapper,
.app-payload-wrapper {
  padding: 8px 20px;
}

.save-this-request {
  margin-top: 8px;
  font-size: 14px;
}

.divider {
  width: 100%;
  height: 1px;
  border-top: 1px solid #ababab;
}
